h1 {
    font-family: Times New Roman, serif;
    font-size: 20px;
    color: #000000;
}

p  { 
    font-family: Times New Roman, serif;
    font-size: 16px;
    color: #000000;
}
body {
    background-color: #ffffff;
    margin: 1;
    padding:10px;
}
img {
    width: 250px;
    height: 250px;
}