h1 {
    font-family: Times New Roman, serif;
    font-size: 20px;
    color: #000000;
}

p  { 
    font-family: Times New Roman, serif;
    font-size: 16px;
    color: #000000;
}
body {
    background-color: #a9c8da;
    margin: 0;
    padding: 0;
}